body{
  background-color: whitesmoke;
}





.nav{
  background-color: white;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid black;
  .navdiv1{
    .navdiv2{
      .navimg{
        width: 40px;
        height: 50px;
        margin-left: 20px;
        margin-top: 15px;
      }

    }
  }
}
.section{
  .KDKDKDKDK{
    margin: 0 auto !important;
  }
  .container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    .divbosh1{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      background-color: white;


    }
    .divbosh2{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;
    }
    .divbosh3{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;

    }

  }
  .tt{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    .divbosh4{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      background-color: white;
    }
    .divbosh5{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;
    }
    .divbosh6{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;
    }
  }
  .tt2{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    .divbosh7{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      background-color: white;
    }
    .divbosh8{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;
    }
    .divbosh9  {
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;
    }
    }
  .tt3{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    .divbosh10{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      background-color: white;
    }
    .divbosh11{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;
    }
    .divbosh12  {
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;
    }
  }
  .tt4{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    .divbosh13{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      background-color: white;
    }
    .divbosh14{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;
    }
    .divbosh15  {
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;
    }
  }
  .tt5{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    .divbosh16{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      background-color: white;
    }
    .divbosh17{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;
    }
    .divbosh18  {
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;
    }
  }
  .tt6{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    .divbosh19{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      background-color: white;
    }
    .divbosh20{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;
    }
    .divbosh21  {
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;
    }
  }
  .tt7{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    .divbosh22{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      background-color: white;
    }
    .divbosh23{
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;
    }
    .divbosh24  {
      border: 1px solid black;
      width: 350px;
      height: 500px;
      margin-left: 50px;
    }
  }


}
.container tmt{
  background-color: cadetblue;
  width: 120% !important;
  .ddddddd{
    margin-left: 20px;

    height: 200px;
    .btn-info:hover{
      opacity: 0.8;
    }
  }
}
.footer{
  background-color: white;
  width: 100%;
  margin-top: 50px;
  height: 500px;
  .container{
    padding-left: 120px;
    padding-top: 50px;
    margin: 0 auto;


    .navimg{
      .dddddd{
        border-top: none;
        color: black;
        margin-left: 80px;
      }
    }
    .img{
      border-radius: 50%;


    }
  }
}
@media only screen and (max-device-width: 1190px) and (max-device-width: 720px){
 .nav{
   width: 150%;
 }
  .footer{
    width: 150%;
    .container{

      .res{
        margin-left: -220px;

        .navimg{

        }
      }
      .res2{
        margin-left: -220px;
      }
    }
  }
}